/* html {
    background-color: #00539F; 
  } */

  body {
    /* width: 1600px; */
    margin: 0 auto;
    /* background-color: #ffffff; */
    /* padding: 0 20px 20px 20px; */
    /* border: 5px solid black; */
    /* text-align: center; */
  }
h2 {
  text-align: left;
  font-family:Consolas;
        margin: 0;
        padding: 20px 0;
        color: #00539F;
        margin-left: -10px;
        /*text-shadow: 3px 3px 1px black; */
}
.a{
  text-align: center;
  font-family:Consolas;
}


button{
  background-color: #2dd3e6;
  font-family:Consolas;
}

button:hover{
  background-color: white;
  border: 2px solid aquamarine;
  font-family:Consolas;
}
.question{
    /* width:800px; */
    font-family:Consolas;
}
strong{
  color:red;
  font-family:Consolas;
}
code{
  font-family:Consolas;
}
.topmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#777;
  color: white;
  text-align: center;
}
.footer {
  position:absolute;
  bottom:0;
  width:100%;
  background-color: #444;
  font-size: small;
  color: white;
  padding: 8px;
}
.error{
  color:red;
}
.success{
  color:green;
}
.warning{
  color:orange;
}

input{
  font-family:Consolas;
}

