<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h3>Welcome to CS201 Quiz, Here are the quizes you need to finish:</h3>
        <h3>Chapter 1</h3>
        {% for i in question_title %}
        <button type = 'submit'> <a href= '{% url 'quiz:quiz' user_id i %}'>{{i}}</a> </button>
        <br>
        {% endfor %}

</body>
</html>