{# {% load static %} #}

{# <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"> #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load markdownify %}
    {% load static %}
    {% comment %} <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/question.css' %}"> {% endcomment %}
     {% comment %} <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/codehilite_styles.css' %}">  {% endcomment %}
    <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/bootstrap/css/bootstrap.min.css' %}">
    {% comment %} <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/question.css' %}"> {% endcomment %}
     <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/codehilite_styles.css' %}"> 
     <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/question.css' %}">
    <title>Test</title>
</head>
<body>
     {% for message in messages %}
    <div class="alert alert-{{ messages.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    </div>
     {% endfor %}
    
    <h3 >{{question_title}}</h3>
    <div class="container">
        <div class="row">
          <div class="col-md-2" >
            {% comment %} This is the one that shows on the top left {% endcomment %}
            <div class="row-md-1" style=" border:1px solid rgb(58, 51, 51)">
                 <a href='{% url 'quiz:userface' user_id %}' style='color:black'> Main Menu </a><br>
                 {% if week == 1 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.0 %}' >   Week1 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.0 %}' style="color:rgb(0, 0, 0)">   Week1 </a></button><br>
                 {% endif %}
                 {% comment %} <a href='{% url 'quiz:week' user_id 1 %}' >   Week1 </a></button><br> {% endcomment %}
                 {% if week == 2 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.1 %}' >   Week2 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.1 %}' style="color:rgb(0, 0, 0)">   Week2 </a></button><br>
                 {% endif %}
                 {% if week == 3 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.2  %}' >   Week3 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.2  %}' style="color:rgb(0, 0, 0)">   Week3 </a></button><br>
                 {% endif %}
                 {% if week == 4 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.3  %}' >   Week4 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.3  %}' style="color:rgb(0, 0, 0)">   Week4 </a></button><br>
                 {% endif %}
                 {% if week == 5 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.4  %}' >   Week5 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.4  %}' style="color:rgb(0, 0, 0)">   Week5 </a></button><br>
                 {% endif %}
                 {% if week == 6 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.5  %}' >   Week6 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.5  %}' style="color:rgb(0, 0, 0)">   Week6 </a></button><br>
                 {% endif %}
                 {% if week == 7 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.6  %}' >   Week7 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.6  %}' style="color:rgb(0, 0, 0)">   Week7 </a></button><br>
                 {% endif %}
                 {% comment %} <a href='{% url 'quiz:week' user_id 3 %}'>   Week3 </a></button><br>
                 <a href='{% url 'quiz:week' user_id 4 %}'>   Week4 </a></button><br>
                 <a href='{% url 'quiz:week' user_id 5 %}'>   Week5 </a></button><br>
                 <a href='{% url 'quiz:week' user_id 6 %}'>   Week6 </a></button><br>
                 <a href='{% url 'quiz:week' user_id 7 %}'>   Week7 </a></button><br> {% endcomment %}
            </div>
            <div class="row-md-2" style=" border:1px solid rgb(58, 51, 51)" >
              {% for quiz in question_sets %}
                 {% if quiz.ifpassed %}
                    {%if question_title == quiz.question_title%}
                        <a href= "{% url 'quiz:quiz_new' quiz.question_title %}" style="color:green;background-color: rgb(175, 248, 246);">Problem{{forloop.counter}}√</a> <br> 
                    {%else %}
                        <a href= "{% url 'quiz:quiz_new' quiz.question_title %}"style="color:green">Problem{{forloop.counter}}√</a> <br>
                    {% endif %}
                {%else%}
                    {%if question_title == quiz.question_title%}
                        <a href= "{% url 'quiz:quiz_new' quiz.question_title %}" style="background-color: aquamarine;">Problem{{forloop.counter}}</a> <br> 
                    {%else %}
                        <a href= "{% url 'quiz:quiz_new' quiz.question_title %}">Problem{{forloop.counter}}</a> <br>
                    {% endif %}
                {%endif%}

              {% endfor %}
            </div>
          </div>
          {% comment %} This is the one that has the details of the question {% endcomment %}
          <div class="col-md-10" style=" border:1px solid rgb(58, 51, 51)">
            <div class='question'>
                
                {{quiz_description|markdownify}}
            </div>
            
            {% if user.is_authenticated %}
            <form action="{% url 'quiz:check' question_title %}" method="post">
                {% csrf_token %}
                <div class='a'>
                <label for="">Answer</label>
                <input type="text" id="answer" name="answer" placeholde="Your Answer" required>
                </div>
                <br>
                <div class= 'a'>
                <button type="submit"> SUBMIT</button>
                <div>
                    {% if ifpassed %}
                    <p style="color:green"> You have passed the problem.</p>
                    {% endif%}
                    <p> You have <strong style='color:blue'>{{submission_times}}</strong> times left to submit. </p>
                </div>
                </div>
            </form>
            {% else %}
            <div class='a'>
                <P style="text-align:center;color:orange"> <a href= "{% url 'simple_judge:signin_from_question' question_title %}" >Please Login to see the page </a></p>
            </div>
            {% endif%}
          </div>
        </div>
      </div>
        {% comment %} <div class='question'>
            {{quiz_description|markdownify}}
        </div>
        {% if user.is_authenticated %}
        <form action="{% url 'quiz:check' question_title %}" method="post">
            {% csrf_token %}
            <div class='a'>
            <label for="">Answer</label>
            <input type="text" id="answer" name="answer" placeholde="Your Answer" required>
            </div>
            <br>
            <div class= 'a'>
            <button type="submit"> SUBMIT</button>
            <div>
                <p> You have <strong style='color:blue'>{{submission_times}}</strong> times left to submit. </p>
                <p> <button><a href='{% url 'quiz:userface' user_id %}'> Main Menu </button></P>
            </div>
            </div>
        </form>
        {% else %}
        <div class='a'>
            <P style="text-align:center;color:orange"> <a href= "{% url 'simple_judge:signin_from_question' question_title %}" >Please Login to see the page </a></p>
        </div>
        {% endif%} {% endcomment %}

</body>
</html>