{# {% load static %} #}

{# <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"> #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} {% load markdownify %} {% endcomment %}
    {% load static %}
    {% load my_tags%}
    {% comment %} <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/question.css' %}"> {% endcomment %}
     {% comment %} <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/codehilite_styles.css' %}">  {% endcomment %}
    <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/bootstrap/css/bootstrap.min.css' %}">
    {% comment %} <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/question.css' %}"> {% endcomment %}
    <link rel="stylesheet" href= "{% static 'quiz/highlight/styles/default.min.css' %}">
    <script src="{% static 'quiz/highlight/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
    
    {% comment %} <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/codehilite_styles.css' %}">  {% endcomment %}
     <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/question.css' %}">
    <script>
        function invisible(){
            document.getElementById('submit').style.display='none';
            document.getElementById('check').style.display='inline';
        }
    </script>
    <title>Test</title>
</head>
<body>

     {% for message in messages %}
    <div class="alert alert-{{ messages.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    </div>
     {% endfor %}
     <div class="topmenu">
        <p>COMPSCI 201: Intro to prgramming and data structures</p>
        
    </div>
    <div class="container">
        <h3 >sec-{{section}}: {{question_title}}</h3>
        <div class="row">
          <div class="col-md-2" >
            {% comment %} This is the one that shows on the top left {% endcomment %}
            <div class="row-md-1" style=" border:1px solid rgb(58, 51, 51)">
                 <a href='{% url 'quiz:userface' user_id %}' style='color:black'> Main Menu </a><br>
                 {% if week == 1 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.0 %}' >   Week1 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.0 %}' style="color:rgb(0, 0, 0)">   Week1 </a></button><br>
                 {% endif %}
                 {% comment %} <a href='{% url 'quiz:week' user_id 1 %}' >   Week1 </a></button><br> {% endcomment %}
                 {% if week == 2 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.1 %}' >   Week2 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.1 %}' style="color:rgb(0, 0, 0)">   Week2 </a></button><br>
                 {% endif %}
                 {% if week == 3 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.2  %}' >   Week3 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.2  %}' style="color:rgb(0, 0, 0)">   Week3 </a></button><br>
                 {% endif %}
                 {% if week == 4 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.3  %}' >   Week4 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.3  %}' style="color:rgb(0, 0, 0)">   Week4 </a></button><br>
                 {% endif %}
                 {% if week == 5 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.4  %}' >   Week5 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.4  %}' style="color:rgb(0, 0, 0)">   Week5 </a></button><br>
                 {% endif %}
                 {% if week == 6 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.5  %}' >   Week6 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.5  %}' style="color:rgb(0, 0, 0)">   Week6 </a></button><br>
                 {% endif %}
                 {% if week == 7 %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.6  %}' >   Week7 </a></button><br>
                 {% else %}
                 <a href='{% url 'quiz:quiz_new' quiz_to.6  %}' style="color:rgb(0, 0, 0)">   Week7 </a></button><br>
                 {% endif %}
                 {% comment %} <a href='{% url 'quiz:week' user_id 3 %}'>   Week3 </a></button><br>
                 <a href='{% url 'quiz:week' user_id 4 %}'>   Week4 </a></button><br>
                 <a href='{% url 'quiz:week' user_id 5 %}'>   Week5 </a></button><br>
                 <a href='{% url 'quiz:week' user_id 6 %}'>   Week6 </a></button><br>
                 <a href='{% url 'quiz:week' user_id 7 %}'>   Week7 </a></button><br> {% endcomment %}
            </div>
            <div class="row-md-2" style=" border:1px solid rgb(58, 51, 51)" >
              {% for quiz in question_sets %}
                 {% if quiz.submission_times <= 0 %}
                    {%if question_title == quiz.question_title%}
                        <a href= "{% url 'quiz:quiz_new' quiz.question_id %}" style="color:red;background-color: rgb(175, 248, 246);">Problem{{quiz.question_id|last2}}X</a> <br> 
                    {%else %}
                        <a href= "{% url 'quiz:quiz_new' quiz.question_id %}"style="color:red">Problem{{quiz.question_id|last2}}X</a> <br>
                    {% endif %}
                {% else %}
                    {% if quiz.ifpassed %}
                        {%if question_id == quiz.question_id%}
                            <a href= "{% url 'quiz:quiz_new' quiz.question_id %}" style="color:green;background-color: rgb(175, 248, 246);">Problem{{quiz.question_id|last2}}√</a> <br> 
                        {%else %}
                            <a href= "{% url 'quiz:quiz_new' quiz.question_id %}"style="color:green">Problem{{quiz.question_id|last2}}√</a> <br>
                        {% endif %}
                    {%else%}
                        {%if question_id == quiz.question_id%}
                            <a href= "{% url 'quiz:quiz_new' quiz.question_id %}" style="background-color: aquamarine;">Problem{{quiz.question_id|last2}}</a> <br> 
                        {%else %}
                            <a href= "{% url 'quiz:quiz_new' quiz.question_id %}">Problem{{quiz.question_id|last2}}</a> <br>
                        {% endif %}
                    {%endif%}
                {%endif%}
              {% endfor %}
            </div>
          </div>
          {% comment %} This is the one that has the details of the question {% endcomment %}

          <div class="col-md-10" >
            <div class='question' >
                <div class='text' style="margin-bottom: 0;">
                {{text|safe}}
                </div>
            </div>
            {% if user.is_authenticated %}
            <form action="{% url 'quiz:check' question_id %}" method="post" autocomplete='off' style="margin-top:30px;position:relative;border-top:1px dashed rgb(106, 100, 100)" onsubmit="invisible();">
                {% csrf_token %}
                    {% if overdue != True%}
                        <label for="" style="text-align: center; color:rgb(110, 119, 123);font-size: 13px;">Your answer goes here:</label>
                        <br>
                        {% for i in answers %}
                        <input type="text" id="answer1" name="{{forloop.counter0}}" placeholder="({{forloop.counter0}})" required> 
                        {%empty%}
                        <input type="text" id="answer1" name="0" placeholder="Your Answer"  required> 
                        {% endfor %}
                        <br>
                        <button type="submit" style="margin-top:10px"  id='submit'> SUBMIT</button>
                        <label for="" style="text-align: center; color:rgb(255, 157, 0);font-size: 13px; display:none ;" id ='check'>...CHECKING...</label>
                            {% comment %} {% if ifpassed %}
                                {% if submission_times < 0%}
                                <p style="color:red"> Your answer is correct but it will not be recorded.</p>
                                {% else %}
                                <p style="color:green"> You have passed the quiz.</p>
                                {% endif%}
                            {% else %}
                                {% %}
                            {% endif%} {% endcomment %}
                    {% else %}
                            <p style='color:orange'>Answer: {{answer}}</p>
                    {% endif%}
                    {% if overdue == True %}
                        <p style="color:red"> You have passed the due.</p>
                    {% else %}
                        {% if submission_times > 0%}
                            {% if ifpassed %}
                                <p style="color:green"> You have passed the quiz.</p>
                            {% else %}
                                <p style="color:black"> You have {{submission_times}} times left.</p>
                            {%endif%}
                        {% else %}
                            {% if ifpassed %}
                                <p style="color:red"> Your answer is correct but it will not be recorded.</p>
                            {%else%}
                                <p style="color:red"> You have failed the quiz</p>
                            {%endif%}
                        {% endif %}
                    {% endif %}
                    {% comment %} {% if submission_times > 0%}
                    <p> You have <strong style='color:blue'>{{submission_times}}</strong> times left to submit. </p>
                    {% else %}
                    <p> You can try, but your answers will not be recorded. </p>
                    {% endif %} {% endcomment %}
            </form>
            {% else %}
            <div class='a'>
                <P style="text-align:center;color:orange"> <a href= "{% url 'simple_judge:signin_from_question' question_title %}" >Please Login to see the page </a></p>
            </div>
            {% endif%}
          </div>
        </div>
      </div>
        {% comment %} <div class='question'>
            {{quiz_description|markdownify}}
        </div>
        {% if user.is_authenticated %}
        <form action="{% url 'quiz:check' question_title %}" method="post">
            {% csrf_token %}
            <div class='a'>
            <label for="">Answer</label>
            <input type="text" id="answer" name="answer" placeholde="Your Answer" required>
            </div>
            <br>
            <div class= 'a'>
            <button type="submit"> SUBMIT</button>
            <div>
                <p> You have <strong style='color:blue'>{{submission_times}}</strong> times left to submit. </p>
                <p> <button><a href='{% url 'quiz:userface' user_id %}'> Main Menu </button></P>
            </div>
            </div>
        </form>
        {% else %}
        <div class='a'>
            <P style="text-align:center;color:orange"> <a href= "{% url 'simple_judge:signin_from_question' question_title %}" >Please Login to see the page </a></p>
        </div>
        {% endif%} {% endcomment %}
        <!-- <div class="footer">
            <p>Support by CS201 TA Team</p>
        </div> -->
</body>
</html>