{# {% load static %} #}

{# <link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"> #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load my_tags%}
    {% comment %} Bootstrap Things Goes here {% endcomment %}
    <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'quiz/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% comment %}  {% endcomment %}

    {% comment %} Code Hilight things goes here {% endcomment %}
    <link rel="stylesheet" href= "{% static 'quiz/highlight/styles/default.min.css' %}">
    <script src="{% static 'quiz/highlight/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
    {% comment %}  {% endcomment %}
     <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/question.css' %}">
    <script>
        function checkblank(){
            var x = document.getElementsByClassName('answer');
             for (var i =0;i<x.length;i++){
                 if (x[i].value==""){
                    alert("You have unfinished blanks")
                    return false;
                 }
             }
             return true;
        }
        function submit(){
            if (checkblank()==true){
                var x = document.getElementsByName('xxx')
                for(var i=0;i<x.length;i++){
                    x[i].style.display='none'
                }
                document.getElementById('check').style.display='inline';
                document.myform.submit();
                return true;
            }
            return false;
        }

    </script>

    <style>
        .footer {
            position:absolute;
            bottom:0px;
            width:100%;
            height:30px;
            background-color: #444; 
            font-size:5px;
            color: white;

        }
    </style>
    <title>Test</title>
</head>
<body>    
    <div class="topmenu">
        <p>COMPSCI 201: Intro to prgramming and data structures</p>
    </div>
            {% if messages %}
            <div class="messages">
                <a name="here"></a>
              {% for message in messages %}
              {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% else %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                    {{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}


        <div class="row">
          <div class="col-md-2" >
            {% comment %} This is the one that shows on the top left {% endcomment %}
            <div class="row-md-1" style="  margin-left:10px;margin-right:20px;margin-top:5px">
                <div style="width:100%">
                 {% comment %} <a href='{% url 'quiz:assignment' user_id %}' style='color:black;left:10%;'> Quizzes </a><br> {% endcomment %}
                 <a href="{% url 'quiz:assignment' user_id %}" style="width:100%;" ><button type="button" class="btn btn-primary" style="width:100%;">Quizzes</button></a>
                 {% comment %} <p> Week{{week}} </p> {% endcomment %}
                </div>
                <div style="margin-top:10px;margin-bottom:10px">

                    <div class="bd-example-snippet bd-code-snippet" ><div class="bd-example">
                        <div class="progress" title="WDNMG" id ="bar_id">
                          {% comment %} <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> {% endcomment %}
                          <div class="progress-bar bg-success" role="progressbar" style="" id="bar_success" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
                          <div class="progress-bar bg-danger" role="progressbar" style="" id="bar_failed" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          <script>
                            var x = document.getElementById('bar_success');
                            var result = '{{passed}}'/'{{length}}';
                            x.style="width:"+result*100+"%";
                            var y = document.getElementById('bar_failed');
                            var result2 = '{{failed}}'/'{{length}}';
                            y.style="width:"+result2*100+"%";
                            var z = document.getElementById('bar_id');
                            z.title="Passed: "+{{passed}}+' / '+{{length}}+" ; Failed: "+"{{failed}}"+" / "+"{{length}}";
                          </script>
                        </div>
                        </div></div>
                    
                </div>



            </div>
            <div class="row-md-2" style=" background-color: #eaedf1; margin-top:5px ;margin-left:10px;margin-right:20px;" >

                {% comment %} Progress bar {% endcomment %}


                <div style= "margin-left:15%"> 
                    
                {% for quiz in question_sets %}
                 {% if quiz.submission_times <= 0 %}
                        <a href= "{% url 'quiz:quiz_new' quiz.question_id %}" style="color:red" id='{{quiz.question_id}}' >Problem{{quiz.question_id|last2}}X</a> <br>
                {% else %}
                    {% if quiz.ifpassed %}
                            <a href= "{% url 'quiz:quiz_new' quiz.question_id %}" style="color:green" id ='{{quiz.question_id}}' >Problem{{quiz.question_id|last2}}√</a> <br>
                    {%else%}
                            <a href= "{% url 'quiz:quiz_new' quiz.question_id %}" id ='{{quiz.question_id}}' >Problem{{quiz.question_id|last2}}</a> <br>
                    {%endif%}
                {%endif%}
              {% endfor %}
                <script>
                    var x = document.getElementById({{question_id}})
                    x.style="background-color: aquamarine;"
                </script>
                </div>
            </div>
          </div>
          <div class="col-md-10"  >
            <div class='question' >
                <h2 >Week{{week}}/sec-{{section}}: {{question_title}}</h2>
                <div class='text' style="margin-bottom: 0; margin-left:-10px;margin-right:40px ">
                {{text|safe}}
                </div>
            </div>
            {% if user.is_authenticated %}
            <div style="margin-left:-10px">
            <form action="{% url 'quiz:check' question_id %}" method="post" autocomplete='off' style="margin-top:30px;position:relative;border-top:1px dashed rgb(106, 100, 100);"  name='myform' >
                {% csrf_token %}
                    {% if overdue != True%}
                        <label for="" style="text-align: center; color:rgb(110, 119, 123);font-size: 13px;">Your answer goes here:</label>
                        <br>
                        {% if recent %}
                            {% if mult %}
                                <input type="text" class= "answer" spellcheck=false id="answer1" name="0" placeholder="Your Answer" value ="{{recent_answer}}" required>
                            {% else%}
                                {% for i in recent_answer %}
                                <input type="text" class= "answer" spellcheck=false id="answer1" name="{{forloop.counter0}}" placeholder="({{forloop.counter0}})" value="{{i}}"  required>
                                {% endfor%}
                            {% endif %}
                        {% else%}
                            {% for i in answers %}
                            <input type="text" class= "answer" spellcheck=false id="answer1" name="{{forloop.counter0}}" placeholder="({{forloop.counter0}})"  required> 
                            {%empty%}
                            <input type="text" class= "answer" spellcheck=false id="answer1" name="0" placeholder="Your Answer" required> 
                            {% endfor %}
                        {% endif %}
                        <br>
                        <label for="" style="text-align: center; color:rgb(255, 157, 0);font-size: 13px; display:none ;" id ='check'>...CHECKING...</label>
            </form>
            <a href="{% url 'quiz:quiz_new' ids.0 %}"><button type="submit" style="margin-top:10px"  id='submit'  name='xxx' class='submit'>Previous Question</button></a>
            <button type="submit" style="margin-top:10px"  id='submit' onclick='submit()' name='xxx' class='submit'>SUBMIT</button>
            <a href="{% url 'quiz:quiz_new' ids.1 %}"><button type="submit" style="margin-top:10px"  id='submit'  name='xxx' class='submit'>Next Question</button></a>
                    {% else %}
                            <p style='color:orange'>Answer: {{answer}}</p>
                    {% endif%}
                    {% if overdue == True %}
                        <p style="color:red"> You have passed the due.</p>
                    {% else %}
                        {% if submission_times > 0%}
                            {% if ifpassed %}
                                <p style="color:green"> You have passed the quiz.</p>
                            {% else %}
                                <p style="color:black"> You have {{submission_times}} times left.</p>
                            {%endif%}
                        {% else %}
                            {% if ifpassed %}
                                <p style="color:red"> Your answer is correct but it will not be recorded.</p>
                            {%else%}
                                <p style="color:red"> You have failed the quiz</p>
                            {%endif%}
                        {% endif %}
                    {% endif %}
            {% else %}
            <div class='a'>
                <P style="text-align:center;color:orange"> <a href= "{% url 'simple_judge:signin_from_question' question_title %}" >Please Login to see the page </a></p>
            </div>
            {% endif%}

        </div>
          </div>
          
        </div>
        
      </div>
      

        {% comment %} <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 border-top " >
          <p class="col-md-3 mb-0 text-muted" style='font-size:12px;margin-left:10px;'>Supported by CS201 TA Team</p>
      
          <p class="nav col-md-5 justify-content-end text-muted" style='font-size:12px;margin-right:12px;'>
            Email Beilong Tang (bt132@duke.edu) if there are problems.
          </p>
        </footer>  {% endcomment %}
        {% comment %} <footer class="h-50  text-black-50" style="font-size:15px">
            <p>Supported by <a class="text-black">CS201 TA Team</a>. Contact Beilong Tang (<a class="text-black">bt132@duke.edu</a>) if you have problems.</p>
          </footer> {% endcomment %}


</body>
</html>