<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/bootstrap/css/bootstrap.min.css' %}">
    <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/bootstrap/js/bootstrap.bundle.min.js' %}">
    <link rel = "stylesheet" type ="text/css" href = "{% static 'quiz/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Always expand</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
    
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link"  href="{% url 'quiz:userface' user_id %}">Main Menu</a>
              </li>
              <li class="nav-item">
                {%if week == 1 %}
                <a class="nav-link active" href="{% url 'quiz:week' user_id 1 %}">Week1</a>
                {% else %}
                <a class="nav-link" href="{% url 'quiz:week' user_id 1 %}">Week1</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {%if week == 2 %}
                <a class="nav-link active" href="{% url 'quiz:week' user_id 2 %}">Week2</a>
                {% else %}
                <a class="nav-link " href="{% url 'quiz:week' user_id 2 %}">Week2</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {%if week == 3 %}
                <a class="nav-link active" href="{% url 'quiz:week' user_id 3 %}">Week3</a>
                {% else %}
                <a class="nav-link " href="{% url 'quiz:week' user_id 3 %}">Week3</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {%if week == 4 %}
                <a class="nav-link active" href="{% url 'quiz:week' user_id 4 %}">Week4</a>
                {% else %}
                <a class="nav-link " href="{% url 'quiz:week' user_id 4 %}">Week4</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {%if week == 5 %}
                <a class="nav-link active" href="{% url 'quiz:week' user_id 5 %}">Week5</a>
                {% else %}
                <a class="nav-link " href="{% url 'quiz:week' user_id 5 %}">Week5</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {%if week == 6 %}
                <a class="nav-link active" href="{% url 'quiz:week' user_id 6 %}">Week6</a>
                {% else %}
                <a class="nav-link " href="{% url 'quiz:week' user_id 6 %}">Week6</a>
                {% endif %}
              </li>
              <li class="nav-item">
                {%if week == 7 %}
                <a class="nav-link active" href="{% url 'quiz:week' user_id 7 %}">Week7</a>
                {% else %}
                <a class="nav-link " href="{% url 'quiz:week' user_id 7 %}">Week7</a>
                {% endif %}
              </li>
            </ul>
            <!-- <form role="search">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </form> -->
          </div>
        </div>
      </nav>

        <h1>Welcome to CS201 Quiz, Here are the quizes you need to finish:</h1>
        <!-- {# {% for i in question_title %} #}
        {#<div class='questiondiv'>#}
            {#    <div class='labeldiv'>#}
                {#        <label for="">{{i}} </label>#}
                {#        <label class='level'> level </label>#}
                {#    </div>#}
                    {#        <div class='buttondiv'><button type = 'submit' > <a href= '{% url 'quiz:quiz' user_id i %}'style="color: black;">Go</a> </button>#}
                        {#    </div>#}
                            {#</div>#}
        {#{% endfor %} #} -->

    
    
    <div class='questiondiv'> 
        <table>
            <tr>
                <td class='level'>ID</td>
                <td class='Question'>Question</td>
                <td class='level'>Level</td>
                <td class='level'> Week </td>
                {% comment %} <td class='Times'> Times</td> {% endcomment %}
                <td class='level'> Status</td>
            {% for i,j,k in array %}
            <tr>
                <td class='level' style="width:30px"> {{k}}</td>
                <td class='Question'> <a href= '{% url 'quiz:quiz_new' i.question_title %}'>{{i.question_title}}</a> </td>
                <td class= 'level'> {{i.question_level}}</td>
                <td class= 'level'> {{i.question_week}}</td>
                {% comment %} <td class= 'Times'> {{j.submission_times}}</td> {% endcomment %}
                {% if j.submission_times > 0 %}
                  {% if j.ifpassed %}
                      <td class= 'Times' style="color:green"> Passed</td>
                  {% else %}
                      <td class= 'Times' style="color:rgb(225, 113, 0)"> Ongoing</td>
                  {%endif%}
                {% else %}
                      <td class= 'Times' style="color:red"> Failed </td>
                {%endif%}
            {% endfor %}
        </table>
    </div>
</body>
</html>