<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel = "stylesheet" type ="text/css" href = "{% static 'simple_judge/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
        <div class="alert alert-{{ messages.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{message}}
        <button type= 'button' class='close' data-dismiss='alert' aria-label='Close'>
        <span aria-hidden='true'>&times;</span>
        </button>
        </div>
         {% endfor %}



    <h1>Sign In</h1>

    <form action="{% url 'simple_judge:signin_from_question' week question_title %}" method="post">
    {% csrf_token %}
    <div class = 'mydiv'>
        <label for="">Username</label>
        <input type="text" id="username" name="username" placeholde="Enter your username" required>
        <br>
        <label for="">Password</label>
        <input type="password" id="pass1" name="pass1" placeholde="Enter your password" required>
        <br>
        <button type="submit"> Sign In</button>
         </form>
        </div>
        <div id="content"></div>
      
   
       
</body>
</html>